.contacts {

    &-content {
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
    }

    &-socials {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 30px;

        &-button:hover,
        &-button:focus,
        &-button:active {
            color: white;
            border: 1px solid white;
        }
    }
}