.contacts {
    display: flex;
    justify-content: start;

    &-card {

    }

    &-socials {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 30px;

        &-button:hover,
        &-button:focus,
        &-button:active {
            color: white;
            border: 1px solid white;
        }
    }
}