@import "../../styles/consts.scss";

.common {
    text-align: left;
    line-height: 1.25;

    .name {
        color: $name-color;
    }

    .github-link {
        cursor: pointer;
        color: $name-color;
        text-decoration: underline;
        text-decoration-style: dashed;
    }

    .github-link:hover {
        text-decoration-style: solid;
    }

    .fan-of {
        margin-left: 10px;
    }
}