@import "../../styles/consts.scss";

.activity {

    &-projects {
        display: flex;
        flex-flow: row wrap;

        .project {
            margin: 20px;
            width: 350px;
            height: 150px;
            white-space: pre-wrap;
            overflow: hidden;

            .ant-card-body {
                height: 100%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &-name {
                font-size: 1.1rem;
            }

            &-description {
                opacity: 0.8;
                margin: 10px 0;
            }

            &-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-badges {
                    display: flex;
                    justify-content: start;

                    .caption {
                        margin-left: 5px;
                    }

                    .watchers {
                        margin: 0;
                    }

                    .stars {
                        margin-left: 15px;
                    }

                    .forks {
                        margin-left: 15px;
                    }
                }

                .language {
                    display: flex;
                    align-items: center;

                    &-color {
                        margin-right: 5px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}