@import "../../styles/consts.scss";

.timeline {

    .steps {
        margin-top: 20px;
    }

    &-step {
        cursor: pointer;

        .company {
            &-name {
                font-size: $big-font-size;
                color: $font-color;
            }

            &-position {
                margin-top: 5px;
                font-size: $medium-font-size;
                color: $font-color;
                opacity: 0.9;
            }

            &-years {
                margin-top: 5px;
                font-size: $small-font-size;
                color: $font-color;
                opacity: 0.5;
            }
        }
    }
}