@import "../../styles/consts.scss";

.common {
    text-align: left;
    line-height: 1.25;

    br {
        line-height: 2;
    }

    .name {
        color: $name-color;
    }

    .github-link {
        cursor: pointer;
        color: $name-color;
        text-decoration: underline;
    }

    .kotlin {
        color: $kotlin;
    }

    .java {
        color: $java;
    }

    .js {
        color: $js;
    }

    .dart {
        color: $dart;
    }

    .others {
        color: $others;
    }

    .fan-of {
        margin-left: 10px;
    }
}