@font-face {
    font-family: 'Sokomishalov';
    font-style: normal;
    font-weight: 400;
    src: local('Sokomishalov Regular'), local('Sokomishalov-Regular'), url(Ubuntu-Regular.ttf) format('ttf');
}