@import "../styles/consts.scss";

.sokomishalov {

    font-size: $big-font-size;

    @media only screen and (max-width: 500px) {
        padding: 10px 10px;
    }

    @media only screen and (min-width: 500px) and (max-width: 1000px) {
        padding: 30px 50px;
    }

    @media only screen and (min-width: 1000px) {
        padding: 50px 70px;
    }
}