.sokomishalov {
    @media only screen and (max-width: 500px) {
        font-size: 6vw;
        padding: 10px 10px;
    }

    @media only screen and (min-width: 500px) and (max-width: 1000px) {
        font-size: 4vw;
        padding: 30px 50px;
    }

    @media only screen and (min-width: 1000px) {
        font-size: 2vw;
        padding: 50px 70px;
    }
}