@font-face {
    font-family: 'SokoMishaLov';
    font-style: normal;
    font-weight: normal;
    src: local('SokoMishaLov'), local('SokoMishaLov Regular'), local('SokoMishaLov-Regular'), url("./fonts/RobotoMono.ttf") format('ttf');
}

body {
    margin: 0;
}

body * {
    font-family: "SokoMishaLov", monospace;
}