@import "./styles/consts.scss";

@font-face {
    font-family: 'SokoMishaLov';
    font-style: normal;
    font-weight: normal;
    src: local('SokoMishaLov'), local('SokoMishaLov Regular'), local('SokoMishaLov-Regular'), url("./fonts/JetBrainsRegular.ttf") format('ttf');
}

body {
    margin: 0;
    background-color: $background;
    color: $font-color;
}

body * {
    font-family: "SokoMishaLov", monospace;
}